---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<aside>
		<li>
		  <a href="#Intro" data-target="Intro">
			<svg
			xmlns="http://www.w3.org/2000/svg"
			height="1.8em"
			fill="currentColor"
			class="house"
			viewBox="0 0 16 16"
			>
			  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
			</svg>
		  </a>
		</li>
		<li>
		  <a href="#Proyect" data-target="Proyect">
			<svg
			xmlns="http://www.w3.org/2000/svg"
			height="1.8em"
			fill="currentColor"
			class="code"
			viewBox="0 0 16 16"
			>
			  <path d="M6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708zm2.708 0a.5.5 0 1 0-.708.708L10.293 8 8.646 9.646a.5.5 0 0 0 .708.708l2-2a.5.5 0 0 0 0-.708z"/>
			  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
			</svg>
		  </a>  
		</li>
	</aside>
	<main class="index" id="scrollList">
		<section class="Start section" id="Intro">
			<div class="Img-index"></div>
		    <div class="Div-start">
				<div>
					<h1>Home</h1>
				</div>
				<div class="H-S-2">
					<a href="/Home/Portafolio">Portafolio</a>
					<a href="/Home/Contrato">Contratar</a>
				</div>
		    </div>
		</section>
		<section class="Intro section" id="Proyect">
		  <div class="Title">
			<h1>Proyectos</h1>
			<div class="Botons">
			  <button class="button" id="leftBtn">
				<div class="button-box">
				  <span class="button-elem">
					<svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
					  <path
						d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
					  ></path>
					</svg>
				  </span>
				</div>
			  </button>
			  <button class="button" id="rightBtn">
				<div class="button-box">
				  <span class="button-elem second">
					<svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
					  <path
						d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
					  ></path>
					</svg>
				  </span>
				</div>
			  </button>
			</div>
		  </div>
		  <div class="Proyectos" id="scrollContainer">
			<div class="card">
			  <div class="content">
				<div class="back">
				  <div class="back-content">
					<svg
					xmlns="http://www.w3.org/2000/svg"
					height="6em"
					fill="currentColor"
					class="house"
					viewBox="0 0 16 16"
					>
						<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
					</svg>
					<strong>Front End</strong>
				  </div>
				</div>
				<div class="front">
				  
				  <div class="front-img" id="img-F-E">
					<div class="circle">
					</div>
					<div class="circle" id="right">
					</div>
					<div class="circle" id="bottom">
					</div>
				  </div>
			
				  <div class="front-content">
					<small class="badge">Front End</small>
					<div class="description">
					  <div class="title">
						<p class="title">
						  <strong>Angular - Css - Ts</strong>
						</p>
						<li class="icon">
							<a href="https://github.com/phorch69" target="_blank">
							  <svg 
							  xmlns="http://www.w3.org/2000/svg"
							  height="3.5em"
							  fill="currentColor"
							  class="github"
							  viewBox="0 0 16 16"
							  >
								<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
							  </svg>
							</a>
						</li>
					  </div>
					  <p class="card-footer">
						En Proceso &nbsp; | &nbsp; Prototipo
					  </p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="content">
				<div class="back">
				  <div class="back-content">
					<svg
					xmlns="http://www.w3.org/2000/svg"
					height="6em"
					fill="currentColor"
					class="house"
					viewBox="0 0 16 16"
					>
						<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
					</svg>
					<strong>Back End</strong>
				  </div>
				</div>
				<div class="front">
				  
					<div class="front-img" id="img-B-E">
						<div class="circle">
						</div>
						<div class="circle" id="right">
						</div>
						<div class="circle" id="bottom">
						</div>
					</div>
			
				  <div class="front-content">
					<small class="badge">Back End</small>
					<div class="description">
					  <div class="title">
						<p class="title">
						  <strong>Express - Node.js</strong>
						</p>
						<li class="icon">
							<a href="https://github.com/phorch69" target="_blank">
							  <svg 
							  xmlns="http://www.w3.org/2000/svg"
							  height="3.5em"
							  fill="currentColor"
							  class="github"
							  viewBox="0 0 16 16"
							  >
								<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
							  </svg>
							</a>
						</li>
					  </div>
					  <p class="card-footer">
						En Proceso &nbsp; | &nbsp; Prototipo
					  </p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="content">
				<div class="back">
				  <div class="back-content">
					<svg
					xmlns="http://www.w3.org/2000/svg"
					height="6em"
					fill="currentColor"
					class="house"
					viewBox="0 0 16 16"
					>
						<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
					</svg>
					<strong>IA - Js</strong>
				  </div>
				</div>
				<div class="front">
				  
				  <div class="front-img" id="img-I-J">
					<div class="circle">
					</div>
					<div class="circle" id="right">
					</div>
					<div class="circle" id="bottom">
					</div>
				  </div>
			
				  <div class="front-content">
					<small class="badge">IA - Js</small>
					<div class="description">
					  <div class="title">
						<p class="title">
						  <strong>TensorFlow.js - Css - Js</strong>
						</p>
						<li class="icon">
							<a href="https://github.com/phorch69" target="_blank">
							  <svg 
							  xmlns="http://www.w3.org/2000/svg"
							  height="3.5em"
							  fill="currentColor"
							  class="github"
							  viewBox="0 0 16 16"
							  >
								<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
							  </svg>
							</a>
						</li>
					  </div>
					  <p class="card-footer">
						En Proceso &nbsp; | &nbsp; Prototipo
					  </p>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</section>
	  </main>
</Layout>
